.footer {
    background: #202020;
    padding-bottom: 100px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__info {
    margin-top: 100px;
}

.footer__info-img {
    max-width: 165px;
    min-height: 74px;
    margin-bottom: 20px;
}

.footer__info-img img {
    width: 100%;
}

.footer__info-socials {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.footer__info-socials svg {
    width: 42px;
    height: 42px;
}

.socials__link svg path {
    transition: var(--transition);
}

.socials__link:hover svg path {
    fill: var(--accent-text-2);
}



.footer__info-socials svg path {
    fill: var(--accent-bg);
}

.footer__info-link {
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline;
}

.footer__call {
    padding-left: 10px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.footer__call-text {
    font-weight: 300;
    font-size: 16px;
}


.footer__call-button {
    max-width: 274px;
    width: 100%;
    padding: 25px 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 159%;
}