@font-face {
    font-family: "Dosis";
    src: local('Dosis Medium'), local('Dosis-Medium'),
        url('Dosis-Medium.woff2') format('woff2'),
        url('Dosis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}